server/HELP.md
server/.gradle
server/build/
!server/gradle/wrapper/gradle-wrapper.jar
!**/server/src/main/**/build/
!**/server/src/test/**/build/

### STS ###
server/.apt_generated
server/.classpath
server/.factorypath
server/.project
server/.settings
server/.springBeans
server/.sts4-cache
server/bin/
!**/server/src/main/**/bin/
!**/server/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
server/out/
!**/server/src/main/**/out/
!**/server/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
